<!doctype html>
<html lang="en">

<head>
<title>@ViewData["Title"] - mygallery</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="description" content="Lucid Bootstrap 4x Admin Template">
<meta name="author" content="WrapTheme, design by: ThemeMakker.com">

<link rel="icon" href="favicon.ico" type="image/x-icon">
<!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css" />

<!-- MAIN CSS -->
<link rel="stylesheet" href="~/css/main.css">
<link rel="stylesheet" href="~/css/color_skins.css">
</head>

<body class="theme-red">
	<!-- WRAPPER -->
	<div id="wrapper">
		@RenderBody()
	</div>
	 <script src="~/vendor/popperjs/popper.min.js"></script>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
