@model mygallery.Data.ErrorViewModel
@{
    ViewData["Title"] = @Model.PageTitle;
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}


		<div class="vertical-align-wrap">
			<div class="vertical-align-middle auth-main">
				<div class="auth-box">
                    <div class="top">
                        <img src="../images/logo.png" alt="Lucid">
                    </div>
					<div class="card">
                        <div class="header">
                            <h3>
                                <span class="clearfix title">
                                    <span class="text">@Model.ErrorTitle</span>
                                </span>
                            </h3>
                        </div>
                        <div class="body">
                            <p>@Model.ErrorDesc</p>
                            <div class="margin-top-30">
                                <a href="javascript:history.go(-1)" class="btn btn-default"><i class="fa fa-arrow-left"></i> <span>Geri</span></a>
                                <a href="/yonetim/anasayfa" class="btn btn-primary"><i class="fa fa-home"></i> <span>Anasayfa</span></a>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>


