@model mygallery.Models.ViewModels._DefinitionsExtensionsViewModel

@{
    Layout="";
}

@foreach (var data in Model.Extensions)
{
    <li data-modelId="@data.ExtensionId" class="extension">

    <div class="feeds-left"><i class="fas fa-car"></i></div>
    <div class="feeds-body">
        <h4 class="title">@data.ExtensionName
            <small class="float-right">
                <a href="javascript:void(0)" class="editExtension"><i class="fas fa-edit"></i></a>
                <a href="javascript:void(0)" class="removeExtension text-danger"><i class="fas fa-trash"></i></a>
            </small>
        </h4>
    </div>
</li>
}