@model mygallery.Models.ViewModels._DefinitionsBrandsViewModel;
@{
    Layout = "";
}

@foreach (var data in Model.Brands)
{
    <li data-brandId="@data.BrandId" class="brand">
    <div class="fancy-radio">
        <label>
            <input name="gender" value="@data.BrandId" type="radio"
                @(data.BrandId==Model.SelectedBrandId?"checked":"")>
                <span><i></i>@data.BrandName</span>
        </label>
        <div class="float-right">
                <a href="javascript:void(0)" class="editBrand"><i class="fas fa-edit"></i></a>
                <a href="javascript:void(0)" class="removeBrand text-danger"><i class="fas fa-trash"></i></a>
            </div>
    </div>
</li>
}