@{
    ViewData["Title"] = "Yönetim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row ">
    <div class="col-sm-12 col-md-4">
        <div class="card text-center l-coral">
            <div class="body">
                <div class="p-15 text-light">
                    <h3>521</h3>
                    <span>Bekleyen Teklif Sayısı</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card text-center l-blush">
            <div class="body">
                <div class="p-15 text-light">
                    <h3>521</h3>
                    <span>Vitrindeki Araçlar</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card text-center l-amber">
            <div class="body">
                <div class="p-15 text-light">
                    <h3>521</h3>
                    <span>Bekleyen Teklif Sayısı</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="header">
                <h5>Son 10 Teklif</h5>
            </div>
            <div class="body table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Marka</th>
                            <th>Model</th>
                            <th>Kilometre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>