@model mygallery.Models.ViewModels.DefinitionsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="card">
            <div class="header">
                <div class="d-flex justify-content-between">
                    <h5>Markalar</h5>
                    <a href="javascript:void(0)" class="addBrand"><i class="fas fa-plus"></i></a>
                </div>
            </div>
            <div class="body h-300p">
                <ul class="list-unstyled feeds_widget brands">
                    @await Html.PartialAsync("_tanimlar_markalar", @Model.BrandsView)
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card">
            <div class="header">
                <div class="d-flex justify-content-between">
                    <h5>Modeller</h5>
                    <a href="javascript:void(0)" class="addModel"><i class="fas fa-plus"></i></a>
                </div>
            </div>
            <div class="body h-300p">
                <ul class="list-unstyled feeds_widget models">
                    @await Html.PartialAsync("_tanimlar_modeller", @Model.ModelsView)
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card">
            <div class="header">
                <div class="d-flex justify-content-between">
                    <h5>Özellikler</h5>
                    <a href="javascript:void(0)" class="addExtension"><i class="fas fa-plus"></i></a>
                </div>
            </div>
            <div class="body h-300p">
                <ul class="list-unstyled feeds_widget extensions">
                    @await Html.PartialAsync("_tanimlar_ozellikler", @Model.ExtensionsView)
                </ul>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var selectedBrandId = 0;
            $(document).on('click', '.brand input', function (e) {
                selectedBrandId = $(this).val();
                console.log(selectedBrandId);
                mg.getView('/yonetim/_tanimlar_modeller', { Id: selectedBrandId }, function (view) {
                    $('.models').html(view);
                });
            });


            $(document).on("click", ".addBrand", function (e) {
                swal({
                    content: {
                        element: "input",
                        attributes: {
                            placeholder: "Marka adını giriniz...",
                            type: "text",
                        },
                    },
                }).then((value) => {
                    mg.postJsonData('/yonetim/json_upsert_brand', { Text: value }, function (result) {
                        if (result.status) {
                            mg.showSuccessMessage(result.message);
                            mg.getView('/yonetim/_tanimlar_markalar', null, function (view) {
                                $('.brands').html(view);
                            });
                        }
                    });
                });
            });

            $(document).on("click", ".editBrand", function (e) {
                var brandId = $(this).closest('li').data('brandid');
                swal({
                    content: {
                        element: "input",
                        attributes: {
                            placeholder: "Marka adını giriniz...",
                            type: "text",
                        },
                    },
                }).then((value) => {
                    mg.postJsonData('/yonetim/json_upsert_brand', { Id:brandId,Text: value }, function (result) {
                        if (result.status) {
                            mg.showSuccessMessage(result.message);
                            mg.getView('/yonetim/_tanimlar_markalar', null, function (view) {
                                $('.brands').html(view);
                            });
                        }
                    });
                });
            });

            $(document).on('click', '.removeBrand', function (e) {
                var brandId = $(this).closest('li').data('brandid');
                swal({
                    title: "Uyarı!!!",
                    text: "Firma ve firmaya bağlı olan modeller tanım yok ise silinecektir. Onaylıyor musunuz?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            mg.postJsonData('/yonetim/json_delete_brand', { Id: brandId }, function (result) {
                                if (result.status) {
                                    mg.showSuccessMessage(result.message)
                                    mg.getView('/yonetim/_tanimlar_markalar', null, function (view) {
                                        $('.brands').html(view);
                                    })
                                } else {
                                    mg.showErrorMessage(result.message, null);
                                }
                            })

                        }
                    });
            });

            $(document).on('click', '.addModel', function () {
                swal({
                    content: {
                        element: "input",
                        attributes: {
                            placeholder: "Model adını giriniz...",
                            type: "text",
                        },
                    },
                }).then((value) => {
                    var modelName=value;
                    var data = { 
                        BrandId: selectedBrandId,
                        ModelId: null ,
                        ModelName: modelName
                          };
                    mg.postJsonData('/yonetim/json_upsert_model', data, function (result) {
                        if (result.status) {
                            mg.showSuccessMessage(result.message);
                            mg.getView('/yonetim/_tanimlar_modeller', { Id: selectedBrandId }, function (view) {
                                $('.models').html(view);
                            });
                        } else {
                            mg.showErrorMessage(result.message);
                        }
                    });
                });
            });

            $(document).on('click', '.removeModel', function (e) {
                var modelId = $(this).closest('li').data('modelid');
                swal({
                    title: "Uyarı!!!",
                    text: "Model silinecektir. Onaylıyor musunuz?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            mg.postJsonData('/yonetim/json_delete_model', { Id: modelId }, function (result) {
                                if (result.status) {
                                    mg.showSuccessMessage(result.message)
                                    mg.getView('/yonetim/_tanimlar_modeller', { Id: selectedBrandId }, function (view) {
                                        $('.models').html(view);
                                    })
                                } else {
                                    mg.showErrorMessage(result.message, null);
                                }
                            })

                        }
                    });
            });

            $(document).on("click", ".editModel", function (e) {
                
                swal({
                    content: {
                        element: "input",
                        attributes: {
                            placeholder: "Marka adını giriniz...",
                            type: "text",
                        },
                    },
                }).then((value) => {
                    var data = { 
                        BrandId: selectedBrandId,
                        ModelId: $(this).closest('li').data('modelid'),
                        ModelName: value
                          };
                    mg.postJsonData('/yonetim/json_upsert_model', data, function (result) {
                        if (result.status) {
                            mg.showSuccessMessage(result.message);
                            mg.getView('/yonetim/_tanimlar_modeller', { Id: selectedBrandId }, function (view) {
                                $('.models').html(view);
                            });
                        } else {
                            mg.showErrorMessage(result.message);
                        }
                    });
                });
            });

        });
    </script>
}