@{
    ViewData["Title"] = "Merhaba";
    Layout = "~/Views/Shared/_Layout_Witout_SiteBar.cshtml";
}

<!-- HERO-6
		============================================= -->
<section id="hero-6" class="bg-scroll hero-section division">
	<div class="container">


		<!-- HERO TEXT -->
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<div class="hero-txt mb-50 text-center white-color">

					<!-- Logo -->
					<div class="hero-logo">
						<img class="img-fluid" src="images/hero-logo.png" alt="hero-logo">
					</div>

					<!-- Title -->
					<h5>Ultimate Responsive Bootstrap 4 Software & Startup Premium Landing Page Template</h5>

				</div>
			</div>
		</div>	<!-- HERO TEXT -->
		<!-- HERO IMAGE -->
		<div class="row">
			<div class="col-md-10 offset-md-1 text-center">
				<div class="video-preview text-center">

					<!-- Change the link HERE!!! -->
					<a class="video-popup2" href="https://www.youtube.com/watch?v=7e90gBu4pas">

						<!-- Play Icon -->
						<div class="video-btn play-icon-pink">
							<div class="video-block-wrapper">
								<i class="fas fa-play"></i>
							</div>
						</div>

						<!-- Preview Image -->
						<img class="img-fluid" src="images/hero-6-img.png" alt="video-preview">

					</a>

				</div>
			</div>
		</div>	<!-- HERO IMAGE -->

	</div>	   <!-- End container -->
	<!-- Bottom Wave -->
	<div class="bg-fixed hero-6-wave"></div>


</section>	<!-- END HERO-6 -->
<!-- SERVICES-1
============================================= -->
<section id="services-1" class="wide-60 services-section division">
	<div class="container">
		<div class="row">


			<!-- SERVICE BOX #1 -->
			<div class="col-sm-6 col-lg-3">
				<div class="sbox-1 wow fadeInUp" data-wow-delay="0.4s">

					<!-- Icon -->
					<img class="img-70" src="images/icons/browser-5.png" alt="service-icon" />

					<!-- Title -->
					<h5 class="h5-xs">Based on Bootstrap 4.3</h5>

					<!-- Text -->
					<p>
						Porta semper lacus cursus, feugiat primis ultrice in ligula risus auctor
						tempus feugiat dolor lacinia
					</p>

				</div>
			</div>


			<!-- SERVICE BOX #2 -->
			<div class="col-sm-6 col-lg-3">
				<div class="sbox-1 wow fadeInUp" data-wow-delay="0.6s">

					<!-- Icon -->
					<img class="img-70" src="images/icons/settings-1.png" alt="service-icon" />

					<!-- Title -->
					<h5 class="h5-xs">Extremely Flexible</h5>

					<!-- Text -->
					<p>
						Porta semper lacus cursus, feugiat primis ultrice in ligula risus auctor
						tempus feugiat dolor lacinia
					</p>

				</div>
			</div>


			<!-- SERVICE BOX #3 -->
			<div class="col-sm-6 col-lg-3">
				<div class="sbox-1 wow fadeInUp" data-wow-delay="0.8s">

					<!-- Icon -->
					<img class="img-70" src="images/icons/cloud-computing.png" alt="service-icon" />

					<!-- Title -->
					<h5 class="h5-xs">Cloud Storage</h5>

					<!-- Text -->
					<p>
						Porta semper lacus cursus, feugiat primis ultrice in ligula risus auctor
						tempus feugiat dolor lacinia
					</p>

				</div>
			</div>


			<!-- SERVICE BOX #4 -->
			<div class="col-sm-6 col-lg-3">
				<div class="sbox-1 wow fadeInUp" data-wow-delay="1s">

					<!-- Icon -->
					<img class="img-70" src="images/icons/worldwide.png" alt="service-icon" />

					<!-- Title -->
					<h5 class="h5-xs">Multi-language Support</h5>

					<!-- Text -->
					<p>
						Porta semper lacus cursus, feugiat primis ultrice in ligula risus auctor
						tempus feugiat dolor lacinia
					</p>

				</div>
			</div>


		</div>	   <!-- End row -->
	</div>	   <!-- End container -->
</section>	<!-- END SERVICES-1 -->
<!-- HORIZONTAL GREY LINE
============================================= -->
<div class="grey-border"><div class="container"><div class="row"><div class="col b-bottom"></div></div></div></div>


<button id="cmdInsert" class="btn btn-aqua">Yükle</button>

<!-- CONTENT-2
============================================= -->
<section id="content-2" class="wide-60 content-section division">
	<div class="container">
		<div class="row d-flex align-items-center">


			<!-- IMAGE BLOCK -->
			<div class="col-md-6">
				<div class="img-block wow fadeInUp" data-wow-delay="0.6s">
					<img class="img-fluid" src="images/image-05.png" alt="content-image">
				</div>
			</div>


			<!-- TEXT BLOCK -->
			<div class="col-md-6">
				<div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">

					<!-- Section ID -->
					<span class="section-id primary-color">Beauty of simplicity</span>

					<!-- Title -->
					<h3 class="h3-md">We are making design better for everyone</h3>

					<!-- Text -->
					<p>
						An enim nullam tempor sapien gravida donec pretium ipsum  porta justo integer at
						odio velna vitae auctor integer congue magna purus pretium ligula rutrum luctus
						ultrice aliquam a augue suscipit
					</p>

					<!-- Title -->
					<h5 class="h5-md">Features Never Stop</h5>

					<!-- CONTENT BOX #1 -->
					<div class="box-list m-top-15">
						<div class="box-list-icon"><i class="fas fa-genderless"></i></div>
						<p>
							Fringilla risus nec, luctus mauris  orci auctor purus euismod pretium purus
							pretium ligula rutrum tempor sapien
						</p>
					</div>

					<!-- CONTENT BOX #2 -->
					<div class="box-list">
						<div class="box-list-icon"><i class="fas fa-genderless"></i></div>
						<p>Quaerat sodales sapien undo euismod purus blandit</p>
					</div>

					<!-- CONTENT BOX #3 -->
					<div class="box-list">
						<div class="box-list-icon"><i class="fas fa-genderless"></i></div>
						<p>
							Nemo ipsam egestas volute turpis dolores ut aliquam quaerat sodales sapien
							undo pretium purus
						</p>
					</div>

				</div>
			</div>	<!-- END TEXT BLOCK -->


		</div>    <!-- End row -->
	</div>	   <!-- End container -->
</section>	<!-- END CONTENT-2 -->
<!-- CONTENT-7
============================================= -->
<section id="content-7" class="bg-lightgrey wide-60 content-section division">
	<div class="container">
		<div class="row d-flex align-items-center">


			<!-- TEXT BLOCK -->
			<div class="col-md-6 col-xl-6">
				<div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">

					<!-- Section ID -->
					<span class="section-id primary-color">Handling With Ease</span>

					<!-- Title -->
					<h3 class="h3-md">Enhance your website design with ShiftKey</h3>

					<!-- Text -->
					<p>
						An enim nullam tempor sapien gravida donec enim ipsum porta justo integer at odio velna
						vitae auctor integer congue magna at pretium purus pretium ligula rutrum luctus risus
						ultrice luctus in ligula blandit congue magna undo impedit
					</p>

					<!-- QUOTE -->
					<div class="quote primary-theme mt-20">

						<!-- Quote Text -->
						<p>
							"Lorem ipsum dolor sit amet, lectus laoreet impedit gestas. Aenean magna ligula eget
							dolor suscipit egestas viverra dolor iaculis luctus magna suscipit egestas "
						</p>

						<!-- Quote Avatar -->
						<div class="quote-avatar">
							<img src="images/quote-avatar.jpg" alt="quote-avatar">
						</div>

						<!-- Quote Author -->
						<div class="quote-author">
							<h5 class="h5-xs">James Paterson</h5>
							<span class="grey-color">CEO of ShiftKey</span>
						</div>

					</div>

				</div>
			</div>	<!-- END TEXT BLOCK -->
			<!-- IMAGE BLOCK -->
			<div class="col-md-6 col-xl-5 offset-xl-1">
				<div class="content-7-img wow fadeInRight" data-wow-delay="0.6s">
					<img class="img-fluid" src="images/image-08.png" alt="content-image">
				</div>
			</div>


		</div>	  <!-- End row -->
	</div>	   <!-- End container -->
</section>	<!-- END CONTENT-7 -->
<!-- SERVICES-8
============================================= -->
<section id="services-8" class="wide-50 services-section division">
	<div class="container">


		<!-- SECTION TITLE 	-->
		<div class="row">
			<div class="col-lg-10 offset-lg-1 section-title">

				<!-- Text -->
				<p class="p-md">
					Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis
					libero at tempus, blandit posuere ligula varius congue cursus porta feugiat
				</p>

			</div>
		</div> 	 <!-- END SECTION TITLE -->


		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<div class="row">


					<!-- SERVICE BOX #1 -->
					<div class="col-sm-6">
						<div class="sbox-4 wow fadeInUp" data-wow-delay="0.4s">

							<!-- Icon -->
							<img class="img-70" src="images/icons/laptop.png" alt="service-icon" />

							<!-- Text -->
							<div class="sbox-4-txt">

								<h5 class="h5-sm">Concept & Idea</h5>
								<p class="grey-color">
									Maecenas laoreet augue egestas laoreet augue egestas, congue gestas
									volutpat posuere cubilia congue ipsum mauris lectus laoreet gestas neque volutpat and
									gestas posuere congue ipsum
								</p>

							</div>

						</div>
					</div>


					<!-- SERVICE BOX #2 -->
					<div class="col-sm-6">
						<div class="sbox-4 wow fadeInUp" data-wow-delay="0.6s">

							<!-- Icon -->
							<img class="img-70" src="images/icons/cloud-computing-3.png" alt="service-icon" />

							<!-- Text -->
							<div class="sbox-4-txt">

								<h5 class="h5-sm">Keyword Research</h5>
								<p class="grey-color">
									Maecenas laoreet augue egestas laoreet augue egestas, congue gestas
									volutpat posuere cubilia congue ipsum mauris lectus laoreet gestas neque volutpat and
									gestas posuere congue ipsum
								</p>

							</div>

						</div>
					</div>


					<!-- SERVICE BOX #3 -->
					<div class="col-sm-6">
						<div class="sbox-4 wow fadeInUp" data-wow-delay="0.4s">

							<!-- Icon -->
							<img class="img-70" src="images/icons/man.png" alt="service-icon" />

							<!-- Text -->
							<div class="sbox-4-txt">

								<h5 class="h5-sm">User Experience</h5>
								<p class="grey-color">
									Maecenas laoreet augue egestas laoreet augue egestas, congue gestas
									volutpat posuere cubilia congue ipsum mauris lectus laoreet gestas neque volutpat and
									gestas posuere congue ipsum
								</p>

							</div>

						</div>
					</div>


					<!-- SERVICE BOX #4 -->
					<div class="col-sm-6">
						<div class="sbox-4 wow fadeInUp" data-wow-delay="0.6s">

							<!-- Icon -->
							<img class="img-70" src="images/icons/vector.png" alt="service-icon" />

							<!-- Text -->
							<div class="sbox-4-txt">

								<h5 class="h5-sm">Web Development</h5>
								<p class="grey-color">
									Maecenas laoreet augue egestas laoreet augue egestas, congue gestas
									volutpat posuere cubilia congue ipsum mauris lectus laoreet gestas neque volutpat and
									gestas posuere congue ipsum
								</p>

							</div>

						</div>
					</div>


				</div>
			</div>
		</div>	   <!-- End row -->


	</div>	   <!-- End container -->
</section>	<!-- END SERVICES-8 -->
<!-- STATISTIC-1
============================================= -->
<div id="statistic-1" class="blue-waves wide-60 statistic-section division">
	<div class="container white-color">


		<!-- SECTION TITLE -->
		<div class="row">
			<div class="col-lg-10 offset-lg-1 section-title">

				<!-- Title 	-->
				<h3 class="h3-md">With Knowledge, Skills & Hard Work</h3>

				<!-- Text -->
				<p class="p-md">
					Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis
					libero at tempus, blandit posuere ligula varius congue cursus porta feugiat
				</p>

			</div>
		</div>


		<div class="row">
			<div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
				<div class="row">


					<!-- STATISTIC BLOCK #1 -->
					<div class="col-sm-4">
						<div class="statistic-block wow fadeInUp" data-wow-delay="0.4s">
							<h5 class="statistic-number"><span class="count-element">38</span>%</h5>
							<p class="txt-400">Fast Load Time</p>
						</div>
					</div>


					<!-- STATISTIC BLOCK #2 -->
					<div class="col-sm-4">
						<div class="statistic-block wow fadeInUp" data-wow-delay="0.6s">
							<h5 class="statistic-number"><span class="count-element">47</span>%</h5>
							<p class="txt-400">More Productivity</p>
						</div>
					</div>


					<!-- STATISTIC BLOCK #3 -->
					<div class="col-sm-4">
						<div class="statistic-block wow fadeInUp" data-wow-delay="0.8s">
							<h5 class="statistic-number"><span class="count-element">43</span>%</h5>
							<p class="txt-400">Less RAM Loading</p>
						</div>
					</div>


				</div>
			</div>
		</div>	<!-- End row -->


	</div>	 <!-- End container -->
</div>	 <!-- END STATISTIC-1 -->
<!-- CONTENT-8
============================================= -->
<section id="content-8" class="wide-60 content-section division">
	<div class="container">
		<div class="row d-flex align-items-center">


			<!-- IMAGE BLOCK -->
			<div class="col-md-6">
				<div class="content-8-img wow fadeInLeft" data-wow-delay="0.4s">
					<img class="img-fluid" src="images/image-09.png" alt="content-image">
				</div>
			</div>


			<!-- TEXT BLOCK -->
			<div class="col-md-6">
				<div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">


					<!-- CONTENT BOX #1 -->
					<div class="cbox-2 icon-xs">

						<!-- Icon & Title -->
						<div class="cbox-2-title clearfix">
							<i class="far fa-calendar-check"></i>
							<h5 class="h5-sm">Scheduling and Planning</h5>
						</div>

						<!-- Text -->
						<p>
							An enim nullam tempor sapien gravida donec blandit ipsum porta justo integer odio
							velna vitae auctor integer congue magna
						</p>

					</div>


					<!-- CONTENT BOX #2 -->
					<div class="cbox-2 icon-xs mt-30">

						<!-- Icon & Title -->
						<div class="cbox-2-title clearfix">
							<i class="fas fa-globe-americas"></i>
							<h5 class="h5-sm">Multi-language Support</h5>
						</div>

						<!-- Text -->
						<p>
							Aliquam a augue suscipit, luctus neque purus ipsum odio velna vitae auctor integer
							congue magna at pretium purus pretium undo blandit posuere ligula varius magna congue
							ipsum gravida purus
						</p>

					</div>


					<!-- CONTENT BOX #3 -->
					<div class="cbox-2 icon-xs mt-30">

						<!-- Icon & Title -->
						<div class="cbox-2-title clearfix">
							<i class="far fa-edit"></i>
							<h5 class="h5-sm">Real Time Customization</h5>
						</div>

						<!-- Text -->
						<p>
							An enim nullam tempor sapien gravida donec blandit ipsum porta justo integer odio
							velna vitae auctor integer congue magna ipsum pretium purus ante pretium ligula
							ultrice ligula auctor risus
						</p>

					</div>


					<!-- CONTENT BOX #4 -->
					<div class="cbox-2 icon-xs mt-30">

						<!-- Icon & Title -->
						<div class="cbox-2-title clearfix">
							<i class="far fa-question-circle"></i>
							<h5 class="h5-sm">Rapid Customer Support</h5>
						</div>

						<!-- Text -->
						<p>
							Gravida donec blandit ipsum porta justo integer odio velna vitae auctor integer
							congue magna at pretium purus ligula rutrum an integer congue magna at purus neque
							dolor enim gravida
						</p>

					</div>


				</div>
			</div>	<!-- END TEXT BLOCK -->


		</div>	  <!-- End row -->
	</div>	   <!-- End container -->
</section>	<!-- END CONTENT-8 -->
<!-- TESTIMONIALS-2
============================================= -->
<section id="reviews-2" class="bg-lightgrey wide-80 reviews-section division">
	<div class="container">


		<!-- SECTION TITLE -->
		<div class="row">
			<div class="col-lg-10 offset-lg-1 section-title">

				<!-- Title 	-->
				<h3 class="h3-md">What Our Customers Are Saying</h3>

				<!-- Text -->
				<p class="p-md">
					Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis
					libero at tempus, blandit posuere ligula varius congue cursus porta feugiat
				</p>

			</div>
		</div>


		<!-- TESTIMONIALS CONTENT -->
		<div class="row">
			<div class="col-md-12 reviews-grid">
				<div class="masonry-wrap grid-loaded">


					<!-- TESTIMONIAL #1 -->
					<div class="review-2">
						<div class="review-txt">

							<!-- Testimonial Author -->
							<div class="author-data clearfix">

								<!-- Author Avatar -->
								<div class="testimonial-avatar">
									<img src="images/review-author-1.jpg" alt="testimonial-avatar">
								</div>

								<!-- Author Data -->
								<div class="review-author">

									<h5 class="h5-xs">pebz13</h5>

									<!-- App Rating -->
									<div class="rating">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star-half"></i>
									</div>

								</div>

							</div>	<!-- End Testimonial Author -->
							<!-- Testimonial Text -->
							<p>
								Etiam sapien sem at sagittis congue an augue massa varius egestas a suscipit
								magna tempus and aliquet porta
							</p>

						</div>
					</div>	<!--END  TESTIMONIAL #1 -->
					<!-- TESTIMONIAL #2 -->
					<div class="review-2">
						<div class="review-txt">

							<!-- Testimonial Author -->
							<div class="author-data clearfix">

								<!-- Author Avatar -->
								<div class="testimonial-avatar">
									<img src="images/review-author-2.jpg" alt="testimonial-avatar">
								</div>

								<!-- Author Data -->
								<div class="review-author">

									<h5 class="h5-xs">Evelyn Martinez</h5>

									<!-- App Rating -->
									<div class="rating">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
									</div>

								</div>

							</div>	<!-- End Testimonial Author -->
							<!-- Testimonial Text -->
							<p>
								At sagittis congue augue egestas magna ipsum vitae purus ipsum primis in cubilia
								laoreet augue egestas luctus and donec diam ociis ultrice ligula magna suscipit
								lectus gestas augue into cubilia
							</p>

						</div>
					</div>	<!-- END TESTIMONIAL #2 -->
					<!-- TESTIMONIAL #3 -->
					<div class="review-2">
						<div class="review-txt">

							<!-- Testimonial Author -->
							<div class="author-data clearfix">

								<!-- Author Avatar -->
								<div class="testimonial-avatar">
									<img src="images/review-author-3.jpg" alt="testimonial-avatar">
								</div>

								<!-- Author Data -->
								<div class="review-author">

									<h5 class="h5-xs">Joel Peterson</h5>

									<!-- App Rating -->
									<div class="rating">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star-half"></i>
									</div>

								</div>

							</div>	<!-- End Testimonial Author -->
							<!-- Testimonial Text -->
							<p>
								Mauris donec ociis magnis sapien etiam sapien congue augue egestas et ultrice
								ligula an egestas magna suscipit
							</p>

						</div>
					</div>	<!-- END TESTIMONIAL #3 -->
					<!-- TESTIMONIAL #4 -->
					<div class="review-2">
						<div class="review-txt">

							<!-- Testimonial Author -->
							<div class="author-data clearfix">

								<!-- Author Avatar -->
								<div class="testimonial-avatar">
									<img src="images/review-author-5.jpg" alt="testimonial-avatar">
								</div>

								<!-- Author Data -->
								<div class="review-author">

									<h5 class="h5-xs">Marisol19</h5>

									<!-- App Rating -->
									<div class="rating">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
									</div>

								</div>

							</div>	<!-- End Testimonial Author -->
							<!-- Testimonial Text -->
							<p>
								An augue in cubilia laoreet magna and suscipit egestas magna ipsum at purus ipsum
								primis in augue ultrice ligula and egestas and suscipit lectus gestas
							</p>

						</div>
					</div>	<!-- END TESTIMONIAL #4 -->
					<!-- TESTIMONIAL #5 -->
					<div class="review-2">
						<div class="review-txt">

							<!-- Testimonial Author -->
							<div class="author-data clearfix">

								<!-- Author Avatar -->
								<div class="testimonial-avatar">
									<img src="images/review-author-7.jpg" alt="testimonial-avatar">
								</div>

								<!-- Author Data -->
								<div class="review-author">

									<h5 class="h5-xs">Isabel M.</h5>

									<!-- App Rating -->
									<div class="rating">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star-half"></i>
									</div>

								</div>

							</div>	<!-- End Testimonial Author -->
							<!-- Testimonial Text -->
							<p>
								Augue egestas volutpat egestas augue in cubilia laoreet magna suscipit luctus
								and dolor blandit vitae purus diam tempus an aliquet porta rutrum gestas egestas
								and varius amet mauris suscipit
							</p>

						</div>
					</div>	<!-- END TESTIMONIAL #5 -->
					<!-- TESTIMONIAL #6 -->
					<div class="review-2">
						<div class="review-txt">

							<!-- Testimonial Author -->
							<div class="author-data clearfix">

								<!-- Author Avatar -->
								<div class="testimonial-avatar">
									<img src="images/review-author-8.jpg" alt="testimonial-avatar">
								</div>

								<!-- Author Data -->
								<div class="review-author">

									<h5 class="h5-xs">Tosha Wisdom</h5>

									<!-- App Rating -->
									<div class="rating">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star-half"></i>
									</div>

								</div>

							</div>	<!-- End Testimonial Author -->
							<!-- Testimonial Text -->
							<p>
								Augue egestas volutpat egestas augue in cubilia laoreet magna suscipit luctus
								and dolor blandit vitae purus diam tempus
							</p>

						</div>
					</div>	<!-- END TESTIMONIAL #6 -->


				</div>
			</div>
		</div>	<!-- END TESTIMONIALS CONTENT -->


	</div>	   <!-- End container -->
</section>	 <!-- END TESTIMONIALS-2 -->
<!-- CONTENT-3
============================================= -->
<section id="content-3" class="wide-60 content-section division">
	<div class="container">
		<div class="row d-flex align-items-center">


			<!-- TEXT BLOCK -->
			<div class="col-md-6">
				<div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">
					<div id="list-tab" class="list-group primary-theme" role="tablist">


						<!-- TAB #1 NAVIGATION LINK -->
						<a id="tab1-list" class="list-group-item list-group-item-action active" data-toggle="list" href="#tab-1" role="tab" aria-controls="tab-1">
							<div class="cbox-4">

								<!-- Text -->
								<h5 class="h5-sm">Feature Integration</h5>
								<p>
									Semper lacus cursus porta, feugiat primis in luctus ultrice tellus potenti neque
									dolor in primis congue
								</p>

							</div>
						</a>

						<!-- TAB #2 NAVIGATION LINK -->
						<a id="tab2-list" class="list-group-item list-group-item-action" data-toggle="list" href="#tab-2" role="tab" aria-controls="tab-2">
							<div class="cbox-4">

								<!-- Text -->
								<h5 class="h5-sm">Comments and Mentions</h5>
								<p>
									Lacus cursus porta,feugiat primis congue magna purus at pretium ligula rutrum
									luctus and ultrice tellus
								</p>

							</div>
						</a>

						<!-- TAB #3 NAVIGATION LINK -->
						<a id="tab3-list" class="list-group-item list-group-item-action" data-toggle="list" href="#tab-3" role="tab" aria-controls="tab-3">
							<div class="cbox-4">

								<!-- Text -->
								<h5 class="h5-sm">Elegant User Interface</h5>
								<p>
									Luctus congue magna at pretium purus pretium ligula rutrum neque incidunt tempor
									laoreet ipsum rhoncus, tempor posuere ligula varius donec purus feugiat
								</p>

							</div>
						</a>


					</div>
				</div>
			</div>	<!-- END TEXT BLOCK -->
			<!-- IMAGE BLOCK -->
			<div class="col-md-6">
				<div class="img-block pr-30 wow fadeInUp" data-wow-delay="0.6s">
					<div id="nav-tabContent" class="tab-content">


						<!-- TAB #1 IMAGE -->
						<div id="tab-1" class="tab-pane show active" role="tabpanel" aria-labelledby="tab1-list">
							<img class="img-fluid" src="images/tab-1-img.png" alt="tab-image" />
						</div>

						<!-- TAB #2 IMAGE -->
						<div id="tab-2" class="tab-pane" role="tabpanel" aria-labelledby="tab2-list">
							<div class="video-preview text-center">

								<!-- Change the link HERE!!! -->
								<a class="video-popup2" href="https://www.youtube.com/watch?v=7e90gBu4pas">

									<!-- Play Icon -->
									<div class="video-btn play-icon-pink">
										<div class="video-block-wrapper">
											<i class="fas fa-play"></i>
										</div>
									</div>

									<!-- Preview Image -->
									<img class="img-fluid" src="images/tab-2-img.png" alt="video-preview">

								</a>

							</div>
						</div>

						<!-- TAB #3 IMAGE -->
						<div id="tab-3" class="tab-pane" role="tabpanel" aria-labelledby="tab3-list">
							<img class="img-fluid" src="images/tab-3-img.png" alt="tab-image" />
						</div>


					</div>
				</div>
			</div>	<!-- END IMAGE BLOCK -->


		</div>	   <!-- End row -->
	</div>	    <!-- End container -->
</section>	 <!-- END CONTENT-3 -->
<!-- VIDEO-3
============================================= -->
<div id="video-3" class="video-section division">
	<div class="container">
		<div class="row">


			<!-- VIDEO LINK -->
			<div class="col-md-12">
				<div class="video-preview text-center">

					<!-- Change the link HERE!!! -->
					<a class="video-popup1" href="https://www.youtube.com/embed/SZEflIVnhH8">

						<!-- Play Icon -->
						<div class="video-btn play-icon-tra">
							<div class="video-block-wrapper">
								<i class="fas fa-play"></i>
							</div>
						</div>

					</a>

				</div>
			</div>	<!-- END VIDEO LINK -->


		</div>	  <!-- End row -->
	</div>	  <!-- End container -->
</div>	  <!-- END VIDEO-3 -->
<!-- BRANDS-2
============================================= -->
<div id="brands-2" class="brands-section division">
	<div class="container">
		<div class="row">
			<div class="col text-center">

				<!-- Title -->
				<p>We partner with companies of all sizes, all around the world</p>

				<div class="owl-carousel brands-carousel">


					<!-- BRAND LOGO IMAGE -->
					<div class="brand-logo">
						<img class="img-fluid" src="images/brand-1.png" alt="brand-logo" />
					</div>

					<!-- BRAND LOGO IMAGE -->
					<div class="brand-logo">
						<img class="img-fluid" src="images/brand-2.png" alt="brand-logo" />
					</div>

					<!-- BRAND LOGO IMAGE -->
					<div class="brand-logo">
						<img class="img-fluid" src="images/brand-3.png" alt="brand-logo" />
					</div>

					<!-- BRAND LOGO IMAGE -->
					<div class="brand-logo">
						<img class="img-fluid" src="images/brand-4.png" alt="brand-logo" />
					</div>

					<!-- BRAND LOGO IMAGE -->
					<div class="brand-logo">
						<img class="img-fluid" src="images/brand-5.png" alt="brand-logo">
					</div>

					<!-- BRAND LOGO IMAGE -->
					<div class="brand-logo">
						<img class="img-fluid" src="images/brand-6.png" alt="brand-logo" />
					</div>

					<!-- BRAND LOGO IMAGE -->
					<div class="brand-logo">
						<img class="img-fluid" src="images/brand-7.png" alt="brand-logo" />
					</div>

					<!-- BRAND LOGO IMAGE -->
					<div class="brand-logo">
						<img class="img-fluid" src="images/brand-3.png" alt="brand-logo" />
					</div>

					<!-- BRAND LOGO IMAGE -->
					<div class="brand-logo">
						<img class="img-fluid" src="images/brand-5.png" alt="brand-logo" />
					</div>

				</div>
			</div>
		</div>      <!-- End row -->
	</div>	    <!-- End container -->
</div>	<!-- END BRANDS-2 -->
<!-- PRICING-1
============================================= -->
<section id="pricing-1" class="bg-lightgrey wide-60 pricing-section">
	<div class="container">


		<!-- SECTION TITLE -->
		<div class="row">
			<div class="col-lg-10 offset-lg-1 section-title">

				<!-- Title 	-->
				<h3 class="h3-md">Simple Pricing, Instant Sign Up</h3>

				<!-- Text -->
				<p class="p-md">
					Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis
					libero at tempus, blandit posuere ligula varius congue cursus porta feugiat
				</p>

			</div>
		</div>	 <!-- END SECTION TITLE -->
		<!-- PRICING TABLES -->
		<div class="row d-flex align-items-center pricing-row primary-theme">


			<!-- BASIC PRICING PLAN -->
			<div class="col-md-4">
				<div class="pricing-table wow fadeInUp" data-wow-delay="0.4s">

					<!-- Plan Price  -->
					<div class="pricing-plan">
						<h5 class="h5-xs">Basic</h5>
						<sup>$</sup>
						<span class="price">39</span>
						<sup class="pricing-coins">99</sup>
						<p class="p-md">monthly</p>
					</div>

					<!-- Pricing Plan Features  -->
					<ul class="features">
						<li><i class="fas fa-stop-circle"></i> Concept Development</li>
						<li><i class="fas fa-stop-circle"></i> UI Design</li>
						<li class="disabled-option"><i class="fas fa-stop-circle"></i> App Management</li>
						<li class="disabled-option"><i class="fas fa-stop-circle"></i> Software QA</li>
						<li class="disabled-option"><i class="fas fa-stop-circle"></i> App Integration</li>
					</ul>

					<!-- Pricing Table Button  -->
					<a href="#" class="btn btn-tra-grey black-hover">Select Plan</a>

				</div>
			</div>	<!-- END BASIC PRICING PLAN -->
			<!-- STANDARD PRICING PLAN -->
			<div class="col-md-4">
				<div class="pricing-table highlight wow fadeInUp" data-wow-delay="0.7s">

					<!-- Plan Price  -->
					<div class="pricing-plan">
						<h5 class="h5-xs">Standard</h5>
						<sup>$</sup>
						<span class="price">69</span>
						<sup class="pricing-coins">99</sup>
						<p class="p-md">monthly</p>
					</div>

					<!-- Pricing Plan Features  -->
					<ul class="features">
						<li><i class="fas fa-stop-circle"></i> Concept Development</li>
						<li><i class="fas fa-stop-circle"></i> UI Design</li>
						<li><i class="fas fa-stop-circle"></i> App Management</li>
						<li class="disabled-option"><i class="fas fa-stop-circle"></i> Software QA</li>
						<li class="disabled-option"><i class="fas fa-stop-circle"></i> App Integration</li>

					</ul>

					<!-- Pricing Table Button  -->
					<a href="#" class="btn btn-primary-color black-hover">Select Plan</a>

				</div>
			</div>	<!-- END STANDARD PRICING PLAN -->
			<!-- PREMIUM PRICING PLAN -->
			<div class="col-md-4">
				<div class="pricing-table wow fadeInUp" data-wow-delay="1s">

					<!-- Plan Price  -->
					<div class="pricing-plan">
						<h5 class="h5-xs">Premium</h5>
						<sup>$</sup>
						<span class="price">99</span>
						<sup class="pricing-coins">99</sup>
						<p class="p-md">monthly</p>
					</div>

					<!-- Pricing Plan Features  -->
					<ul class="features">
						<li><i class="fas fa-stop-circle"></i> Concept Development</li>
						<li><i class="fas fa-stop-circle"></i> UI Design</li>
						<li><i class="fas fa-stop-circle"></i> App Management</li>
						<li><i class="fas fa-stop-circle"></i> Software QA</li>
						<li><i class="fas fa-stop-circle"></i> App Integration</li>
					</ul>

					<!-- Pricing Table Button  -->
					<a href="#" class="btn btn-tra-grey black-hover">Select Plan</a>

				</div>
			</div>	<!-- END PREMIUM PRICING PLAN -->


		</div>	<!-- END PRICING TABLES -->
		<!-- PRICING NOTICE TEXT -->
		<div class="row">
			<div class="col-lg-8 offset-lg-2 wow fadeInUp" data-wow-delay="1s">
				<div class="pricing-notice mb-40 text-center">
					<p class="p-md">
						<span>Note!</span> Prices may vary from location to location due to local
						taxation laws and conversion rates from U.S. Dollars.
					</p>
				</div>
			</div>
		</div>


	</div>	   <!-- End container -->
</section>	<!-- END PRICING-1 -->
<!-- FAQs-2
============================================= -->
<section id="faqs-2" class="wide-100 faqs-section division">
	<div class="container">


		<!-- SECTION TITLE -->
		<div class="row">
			<div class="col-lg-10 offset-lg-1 section-title">

				<!-- Title 	-->
				<h3 class="h3-md">Frequently Asked Questions</h3>

				<!-- Text -->
				<p class="p-md">
					Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis
					libero at tempus, blandit posuere ligula varius congue cursus porta feugiat
				</p>

			</div>
		</div>


		<div class="row">


			<!-- QUESTIONS HOLDER -->
			<div class="col-lg-6">
				<div class="questions-holder">


					<!-- QUESTION #1 -->
					<div class="question wow fadeInUp" data-wow-delay="0.4s">

						<!-- Question -->
						<h5 class="h5-xs">Do you have non-profit discount?</h5>

						<!-- Answer -->
						<p>
							Praesent semper, lacus sed cursus porta,feugiat primis in faucibus orci luctus
							tincidunt ligula ultrice sapien egestas lobortis magna
						</p>

					</div>


					<!-- QUESTION #2 -->
					<div class="question wow fadeInUp" data-wow-delay="0.6s">

						<!-- Question -->
						<h5 class="h5-xs">Do you have a free trial?</h5>

						<!-- Answer -->
						<ul class="content-list mb-35">

							<li>Vitae auctor integer congue magna at pretium</li>

							<li>
								Integer congue magna at pretium purus pretium ligula rutrum luctus risus eros
								dolor auctor ipsum blandit purus
							</li>

							<li>Sagittis congue augue egestas volutpat egestas magna</li>

						</ul>

					</div>


					<!-- QUESTION #3 -->
					<div class="question wow fadeInUp" data-wow-delay="0.8s">

						<!-- Question -->
						<h5 class="h5-xs">How do I install a ShiftKey?</h5>

						<!-- Answer -->
						<p>
							Feugiat eros, ac tincidunt ligula massa in faucibus orci luctus et ultrices posuere
							cubilia curae egestas magna ipsum vitae purus efficitur ipsum in primis cubilia laoreet
							augue congue.
						</p>

					</div>


				</div>
			</div>	<!-- END QUESTIONS HOLDER -->
			<!-- QUESTIONS HOLDER -->
			<div class="col-lg-6">
				<div class="questions-holder ind-30">


					<!-- QUESTION #4 -->
					<div class="question wow fadeInUp" data-wow-delay="0.4s">

						<!-- Question -->
						<h5 class="h5-xs">What I can do with my purchase?</h5>


						<!-- Answer -->
						<ul class="content-list mb-35">

							<li>Feugiat eros ligula massa lipsum primis in orci luctus</li>

							<li>
								Sagittis congue augue egestas volutpat egestas magna ipsum primis in faucibus
								bibendum sit amet in odio
							</li>

						</ul>

					</div>


					<!-- QUESTION #5 -->
					<div class="question wow fadeInUp" data-wow-delay="0.6s">

						<!-- Question -->
						<h5 class="h5-xs">How can I update or cancel my personal information?</h5>

						<!-- Answer -->
						<p>
							Praesent semper, lacus sed cursus porta, odio augue ligula massa risus laoreet.
							Laoreet auctor massa varius amet orci gravida donec enim ipsum porta justo integer
							at odio velna auctor.
						</p>

					</div>


					<!-- QUESTION #6 -->
					<div class="question wow fadeInUp" data-wow-delay="0.8s">

						<!-- Question -->
						<h5 class="h5-xs">I have technical problem, who do I email?</h5>

						<!-- Answer -->
						<p>
							Feugiat eros, ac tincidunt ligula massa in faucibus orci luctus et ultrices posuere
							cubilia curae integer congue leo metus, eu mollis lorem primis in orci ipsum porta
							justo integer
						</p>

					</div>


				</div>
			</div>	<!-- END  QUESTIONS HOLDER -->


		</div>	<!-- End row -->
		<!-- MORE QUESTIONS BUTTON -->
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="more-questions wow fadeInUp" data-wow-delay="1.2s">
					<h5 class="h5-xs">Still have a question? <a href="faqs.html">Ask your question here</a></h5>
				</div>
			</div>
		</div>


	</div>	   <!-- End container -->
</section>	<!-- END FAQs-2 -->
<!-- CALL TO ACTION-1
============================================= -->
<section id="cta-1" class="blue-textured cta-section division">
	<div class="container white-color">
		<div class="row d-flex align-items-center">


			<!-- CALL TO ACTION TEXT -->
			<div class="col-lg-7 col-xl-6">
				<div class="cta-txt">

					<!-- Title -->
					<h4 class="h4-xl">Got an idea? Start here</h4>

					<!-- Text -->
					<p class="p-md">
						Donec vel sapien augue integer urna vel turpis cursus porta, mauris sed
						augue luctus dolor velna auctor congue tempus integer
					</p>

				</div>
			</div>


			<!-- CALL TO ACTION BUTTON -->
			<div class="col-lg-3 col-xl-3 offset-lg-2 offset-xl-3">
				<div class="cta-btn text-right">
					<a href="#" class="btn btn-tra-white primary-color-hover">Let's Started Now</a>
				</div>
			</div>


		</div>	 <!-- End row -->
	</div>	   <!-- End container -->
</section>	<!-- END CALL TO ACTION-1 -->
@section Scripts {
	<script>
		$(document).ready(function () {
			$('#cmdInsert').click(function (e) {
				mg.postJsonData('/jsonLoadBranModels', null, function (result) {
					alert(result);
				});
			})
		});
	</script>
}